In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

## **Question 1: Python Fundamentals and Control Structures (15 Marks)**

### (a) Conditional Statements and Loops
 - Write a Python script that prompts the user to enter a list of integers separated by spaces. The script
 should then:
     - Print all the even numbers in the list.
     - Calculate and print the sum of all odd numbers in the list.
        - Example:
         - Input: 10 15 20 25 30
         - Even numbers: 10 20 30
         - Sum of odd numbers: 40

In [10]:
myList = [10, 15, 20, 25, 30]

even_numbers = []
odd_sum = 0


for i in myList:
    if i % 2 == 0:
        even_numbers.append(i)  
    else:
        odd_sum += i 
        
# Print all even numbers in one line, separated by spaces
print(f"Even numbers: {' '.join(map(str, even_numbers))}")

# Print the sum of odd numbers
print(f"Sum of ODD Numbers is: {odd_sum}")

Even numbers: 10 20 30
Sum of ODD Numbers is: 40

In [8]:
num = input("Enter a list of integers separated by spaces: ")
myList = list(map(int, num.split()))


odd_sum = 0
for i in myList:
    if i % 2 == 0:
        print(f"Even numbers: {i}")
    else:
        odd_sum += i

print(f"Sum of ODD Numbers is: {odd_sum}")

Enter a list of integers separated by spaces:  10 20 30 45 50 52

Even numbers: 10
Even numbers: 20
Even numbers: 30
Even numbers: 50
Even numbers: 52
Sum of ODD Numbers is: 45

### b) Functions and Scope (7 Marks)
 Define a function 
calculate_grade(scores) that takes a list of student scores (integers from 0 to 100)
 and returns a dictionary with the count of grades according to the following criteria:
 - A: 90 and above
 - B: 80-89
 - C: 70-79
 - D: 60-69
 - F: Below 60

 Demonstrate the use of local and global variables within your function.

In [13]:
# Global variable to store grade counts
grade_counts = {"A": 0, "B": 0, "C": 0, "D": 0, "F": 0}

def calculate_grade(scores):
    global grade_counts  # Use the global variable for storing grade counts

    for score in scores:
        if 90 <= score <= 100:
            grade_counts["A"] += 1
        elif 80 <= score <= 89:
            grade_counts["B"] += 1
        elif 70 <= score <= 79:
            grade_counts["C"] += 1
        elif 60 <= score <= 69:
            grade_counts["D"] += 1
        elif 0 <= score < 60:
            grade_counts["F"] += 1

    return grade_counts

# Example usage
student_scores = [95, 85, 72, 65, 58, 90, 88, 77, 69, 55]
result = calculate_grade(student_scores)
print("Grade counts:", result)

Grade counts: {'A': 2, 'B': 2, 'C': 2, 'D': 2, 'F': 2}

In [11]:
print("Enter Marks Obtained in 5 Subjects: ")
total1 = 44
total2 = 67
total3 = 76
total4 = 99
total5 = 58

tot = total1 + total2 + total3 + total4 + total4
avg = tot / 5

if avg >= 91 and avg <= 100:
	print("Your Grade is A1")
elif avg >= 81 and avg < 91:
	print("Your Grade is A2")
elif avg >= 71 and avg < 81:
	print("Your Grade is B1")
elif avg >= 61 and avg < 71:
	print("Your Grade is B2")
elif avg >= 51 and avg < 61:
	print("Your Grade is C1")
elif avg >= 41 and avg < 51:
	print("Your Grade is C2")
elif avg >= 33 and avg < 41:
	print("Your Grade is D")
elif avg >= 21 and avg < 33:
	print("Your Grade is E1")
elif avg >= 0 and avg < 21:
	print("Your Grade is E2")
else:
	print("Invalid Input!")

Enter Marks Obtained in 5 Subjects:
Your Grade is B1

## Question 2: Data Structures in Python (20 Marks)

#### 1. Set Manipulations

In [15]:
# Create set.
my_set = {1, 2, 3, 4}
empty_set = set()

In [16]:
# Add/Remove Elements
my_set.add(5)        # Add element
my_set.remove(3)     # Remove element (raises KeyError if not found)
my_set.discard(10)   # Safely remove (no error if not found)
print(my_set)

{1, 2, 4, 5}

In [ ]:
# Set Operations
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1 | set2           # {1, 2, 3, 4, 5}
intersection_set = set1 & set2    # {3}
difference_set = set1 - set2      # {1, 2}
symmetric_diff_set = set1 ^ set2  # {1, 2, 4, 5}

In [ ]:
# Other methods
my_set.clear()        # Removes all elements
is_subset = set1.issubset(set2)
is_superset = set1.issuperset(set2)

### 2. List Manipulations

In [17]:
# Create list.
my_list = [1, 2, 3, 4]

In [18]:
# Access/Update Elements.
print(my_list[1])     # Access 2nd element
my_list[2] = 10       # Update 3rd element

2

In [19]:
# Add/Remove Elements
my_list.append(5)         # Add at the end
my_list.insert(1, 99)     # Insert at index 1
my_list.remove(10)        # Remove specific element
popped_item = my_list.pop()  # Remove and return the last element

In [20]:
# Sort/Reverse.
my_list.sort()         # Sort in ascending order
my_list.reverse()      # Reverse the list

In [23]:
# List Comprehensions.
squared_list = [x**2 for x in my_list if x % 2 == 0]
squared_list

[4, 16]

### 3. Tuple Manipulations

In [25]:
# Create
my_tuple = (1, 2, 3, 4, 5)

In [26]:
# Access Elements:
print(my_tuple[0])     # Access 1st element

1

In [31]:
# Concatenate/Repeat:
new_tuple = my_tuple + (5, 6)     # Concatenate
print(new_tuple)

repeated_tuple = my_tuple * 2    # Repeat elements
print(repeated_tuple)

(1, 2, 3, 4, 5, 5, 5, 6)
(1, 2, 3, 4, 5, 5, 1, 2, 3, 4, 5, 5)

In [32]:
# Convert to List for Mutation:
mutable_list = list(my_tuple)
mutable_list.append(5)
my_tuple = tuple(mutable_list)   # Convert back to tuple
print(my_tuple)

(1, 2, 3, 4, 5, 5, 5)

In [33]:
# Unpack Elements:
my_tuple = (1, 2, 3, 4)  # Tuple has exactly 4 elements
a, b, c, d = my_tuple    # Works because the count matches
print(a, b, c, d)

1 2 3 4

In [36]:
# 1. Use the * Operator for Variable-Length Unpacking.
my_tuple = (1, 2, 3, 4, 5, 6)  # Tuple has more than 4 elements
a, b, *rest = my_tuple         # Capture extra elements in `rest`
print(a, b, rest)              # Output: 1 2 [3, 4, 5, 6]

# 2. Another example:
a, *middle, d = my_tuple       # Capture everything except the first and last
print(a, middle, d)            # Output: 1 [2, 3, 4, 5] 6

1 2 [3, 4, 5, 6]
1 [2, 3, 4, 5] 6

In [37]:
# 3. Slice the Tuple Before Unpacking. 
my_tuple = (1, 2, 3, 4, 5, 6)  # Tuple has more than 4 elements
a, b, c, d = my_tuple[:4]      # Slice to take only the first 4 elements
print(a, b, c, d)              # Output: 1 2 3 4

1 2 3 4

## 4. Dictionary Manipulations

In [38]:
# Create a Dictionary.
my_dict = {"name": "Alice", "age": 25}

In [39]:
# Access/Update Elements.
print(my_dict["name"])      # Access value by key
my_dict["age"] = 26         # Update value
my_dict["city"] = "Paris"   # Add new key-value pair

Alice

In [40]:
# Remove Elements.
del my_dict["age"]          # Remove key
my_dict.pop("city")         # Remove key and return value

'Paris'

In [41]:
# Iterate Through Dictionary.
for key, value in my_dict.items():
    print(key, value)

name Alice

In [42]:
# Dictionary Methods.
keys = my_dict.keys()       # Get all keys
values = my_dict.values()   # Get all values
items = my_dict.items()     # Get key-value pairs
my_dict.clear()             # Clear all elements

In [43]:
# Dictionary Comprehensions.
squares = {x: x**2 for x in range(5)}

### (a) List and Tuple Manipulations (10 Marks)
 - Given the following list of tuples representing products and their prices:

    - products = [("Laptop", 1200), ("Smartphone", 800), ("Tablet", 400), ("Monitor", 300)]
        - Perform the following tasks:
         - Sort the list based on price in descending order without using the built-in 
        sort() method. 

         - Convert the list of tuples into a dictionary where the product names are keys and prices are
         values. (5 Marks)

In [44]:
products = [
    ("Laptop", 1200), 
    ("Smartphone", 800), 
    ("Tablet", 400), 
    ("Monitor", 300)
]

# Bubble Sort to sort the list in descending order
def sort_products_desc(products):
    n = len(products)
    for i in range(n):
        for j in range(0, n - i - 1):
            if products[j][1] < products[j + 1][1]:  # Compare prices
                products[j], products[j + 1] = products[j + 1], products[j]  # Swap
    return products

# Sort the products
sorted_products = sort_products_desc(products)
print("Products sorted by price (descending):", sorted_products)

Products sorted by price (descending): [('Laptop', 1200), ('Smartphone', 800), ('Tablet', 400), ('Monitor', 300)]

In [5]:
def bubbleSort(products):
    # Loop to access each product
    for i in range(len(products)):
        # Loop to compare product elements
        for j in range(0, len(products) - i - 1):
            # Compare the prices (second element of the tuple)
            if products[j][1] < products[j + 1][1]:  # Use < for descending order
                # Swap the elements
                temp = products[j]
                products[j] = products[j + 1]
                products[j + 1] = temp

    return products

# List of products
products = [
    ("Laptop", 1200), 
    ("Smartphone", 800), 
    ("Tablet", 400), 
    ("Monitor", 300)
]

# Sort the products
sorted_products = bubbleSort(products)
print("Products sorted by price (descending):", sorted_products)

Products sorted by price (descending): [('Laptop', 1200), ('Smartphone', 800), ('Tablet', 400), ('Monitor', 300)]

In [50]:
# Example tuple
tuple_data = (("Laptop", 1200), ("Smartphone", 800), ("Tablet", 400), ("Monitor", 300))

# Convert to dictionary
dict_data = dict(tuple_data)
print("Dictionary:", dict_data)

# Convert to list
list_data = list(tuple_data)
print("List:", list_data)

# Convert to set
set_data = set(tuple_data)
print("Set:", set_data)

Dictionary: {'Laptop': 1200, 'Smartphone': 800, 'Tablet': 400, 'Monitor': 300}
List: [('Laptop', 1200), ('Smartphone', 800), ('Tablet', 400), ('Monitor', 300)]
Set: {('Laptop', 1200), ('Monitor', 300), ('Smartphone', 800), ('Tablet', 400)}

 ### (a) List Manipulations (10 Marks)
 - Given the list:
 - numbers = [12, 75, 150, 180, 145, 525, 50]
 - Write a Python script that:
     - Iterates through the list and prints each number.
     - Skips any number greater than 500.
     - Stops the loop if a number greater than 150 is encountered.
     - Skips numbers that are divisible by 5.

In [65]:
# Given list of numbers
numbers = [12, 75, 150, 180, 145, 525, 50]

# Iterate through the list
for num in numbers:
    if num > 500:
        continue  # Skip numbers greater than 500
    if num > 150:
        break  # Stop the loop if a number greater than 150 is encountered
    if num % 5 == 0:
        continue  # Skip numbers divisible by 5
    print(num)  # Print the number if none of the above conditions apply

12

### (b) Set and Dictionary Operations (10 Marks)
 - You have two dictionaries representing students enrolled in different courses:
    - course_python = {"Alice": 85, "Bob": 78, "Charlie": 92, "Diana": 88}
    - course_data_science = {"Eve": 91, "Frank": 76, "Alice": 89, "Charlie": 95}
      - Perform the following tasks:
      - Find the students enrolled in both courses using set operations. (5 Marks)
      - Create a new dictionary that contains the average scores of students enrolled in both courses. (5Marks)

In [52]:
course_python = {"Alice": 85, "Bob": 78, "Charlie": 92, "Diana": 88}
course_data_science = {"Eve": 91, "Frank": 76, "Alice": 89, "Charlie": 95}

In [53]:
# Task 1: Find students enrolled in both courses (using set operations)
# Extract student names
python_students = set(course_python.keys())
data_science_students = set(course_data_science.keys())

# Find students enrolled in both courses
students_in_both = python_students & data_science_students
print("Students in both courses:", students_in_both)

Students in both courses: {'Alice', 'Charlie'}

In [55]:
# Task 2: Create a dictionary with the average scores of students enrolled in both courses 
# Create a dictionary with the average scores of students in both courses
average_scores = {student: (course_python[student] + course_data_science[student]) / 2 for student in students_in_both}

print("Average scores of students in both courses:", average_scores)

Average scores of students in both courses: {'Alice': 87.0, 'Charlie': 93.5}

In [54]:
# Given dictionaries
course_python = {"Alice": 85, "Bob": 78, "Charlie": 92, "Diana": 88}
course_data_science = {"Eve": 91, "Frank": 76, "Alice": 89, "Charlie": 95}

# Task 1: Find students enrolled in both courses
python_students = set(course_python.keys())
data_science_students = set(course_data_science.keys())

# Find common students using set intersection
students_in_both = python_students & data_science_students
print("Students in both courses:", students_in_both)

# Task 2: Create a dictionary with average scores
average_scores = {student: (course_python[student] + course_data_science[student]) / 2 
                  for student in students_in_both}

print("Average scores of students in both courses:", average_scores)

Students in both courses: {'Alice', 'Charlie'}
Average scores of students in both courses: {'Alice': 87.0, 'Charlie': 93.5}

 ### (b) Dictionary and Set Operations (10 Marks)
 - You have two sets of student names:
     - english_students = {"Emma", "Olivia", "Ava", "Isabella", "Sophia"}
     - math_students = {"Olivia", "Ava", "Mia", "Charlotte", "Amelia"}
         - Perform the following tasks:
         - Find the students who are enrolled in both English and Math courses. (3 Marks)
         - Find the students who are enrolled in English but not in Math. (3 Marks)
         - Create a dictionary where the keys are student names from both sets, and the values are the
         - courses they are enrolled in. (4 Marks)

In [64]:
# Given sets of students
english_students = {"Emma", "Olivia", "Ava", "Isabella", "Sophia"}
math_students = {"Olivia", "Ava", "Mia", "Charlotte", "Amelia"}

# Task 1: Students enrolled in both English and Math
students_in_both = english_students & math_students
print("Students enrolled in both English and Math courses:", students_in_both)

# Task 2: Students enrolled in English but not in Math
students_only_in_english = english_students - math_students
print("Students enrolled in English but not in Math:", students_only_in_english)

# Task 3: Create a dictionary with student names and courses
students_courses = {}
for student in english_students | math_students:  # Union of both sets
    courses = []
    if student in english_students:
        courses.append("English")
    if student in math_students:
        courses.append("Math")
    students_courses[student] = courses

print("Student-course dictionary:", students_courses)

Students enrolled in both English and Math courses: {'Ava', 'Olivia'}
Students enrolled in English but not in Math: {'Isabella', 'Emma', 'Sophia'}
Student-course dictionary: {'Charlotte': ['Math'], 'Emma': ['English'], 'Sophia': ['English'], 'Olivia': ['English', 'Math'], 'Mia': ['Math'], 'Isabella': ['English'], 'Amelia': ['Math'], 'Ava': ['English', 'Math']}

## Another question

### 1. Set Operations:
##### (a) Basic Questions:
- Find students enrolled only in the Python course but not in the Data Science course.
Expected output: Students unique to course_python.
- Find students enrolled only in the Data Science course but not in the Python course.
Expected output: Students unique to course_data_science.
- Find the total number of unique students across both courses.
Use set union (|) to get all unique students.
#### (b) Advanced Questions:
- Find students who are not common to both courses (symmetric difference).
Use set symmetric difference (^).

In [58]:
# Given dictionaries
course_python = {"Alice": 85, "Bob": 78, "Charlie": 92, "Diana": 88}
course_data_science = {"Eve": 91, "Frank": 76, "Alice": 89, "Charlie": 95}

# Task 1: Students only in the Python course
python_only = set(course_python.keys()) - set(course_data_science.keys())
print("Students only in the Python course:", python_only)

# Task 2: Students only in the Data Science course
data_science_only = set(course_data_science.keys()) - set(course_python.keys())
print("Students only in the Data Science course:", data_science_only)

# Task 3: Total unique students across both courses
unique_students = set(course_python.keys()) | set(course_data_science.keys())
print("Total unique students:", unique_students)
print("Number of unique students:", len(unique_students))

# Task 4: Students not common to both courses (symmetric difference)
symmetric_difference = set(course_python.keys()) ^ set(course_data_science.keys())
print("Students not common to both courses:", symmetric_difference)

Students only in the Python course: {'Diana', 'Bob'}
Students only in the Data Science course: {'Frank', 'Eve'}
Total unique students: {'Alice', 'Frank', 'Bob', 'Charlie', 'Diana', 'Eve'}
Number of unique students: 6
Students not common to both courses: {'Frank', 'Bob', 'Diana', 'Eve'}

### 2. Dictionary Operations:
##### (a) Basic Questions:
- Find the student with the highest score in the Python course.
Use max() with the dictionary's values.
- Find the student with the lowest score in the Data Science course.
Use min() with the dictionary's values.
- Create a combined dictionary that contains all students from both courses. If a student is enrolled in both, use the higher score.
- Use dict.update() or dictionary comprehensions.
##### (b) Advanced Questions:
- Create a new dictionary with the total scores of students enrolled in both courses.
- Add scores for students common in both dictionaries.
- Sort the course_python dictionary by scores in descending order.
- Use sorted() with a custom key.
- Identify students with a score above 90 in both courses.

In [57]:
course_python = {"Alice": 85, "Bob": 78, "Charlie": 92, "Diana": 88}
course_data_science = {"Eve": 91, "Frank": 76, "Alice": 89, "Charlie": 95}

# 1. Student with the highest score in Python
highest_python = max(course_python.items(), key=lambda x: x[1])
print("Student with the highest score in Python:", highest_python)

# 2. Student with the lowest score in Data Science
lowest_data_science = min(course_data_science.items(), key=lambda x: x[1])
print("Student with the lowest score in Data Science:", lowest_data_science)

# 3. Combined dictionary with highest scores
combined_scores = {**course_python}
for student, score in course_data_science.items():
    if student in combined_scores:
        combined_scores[student] = max(combined_scores[student], score)
    else:
        combined_scores[student] = score
print("Combined dictionary:", combined_scores)

# 4. Total scores of students in both courses
common_students = set(course_python.keys()) & set(course_data_science.keys())
total_scores = {student: course_python[student] + course_data_science[student] for student in common_students}
print("Total scores of students in both courses:", total_scores)

# 5. Sort Python course dictionary by scores (descending)
sorted_python = dict(sorted(course_python.items(), key=lambda x: x[1], reverse=True))
print("Python course sorted by scores (descending):", sorted_python)

# 6. Students with scores above 90 in both courses
students_above_90 = {student for student in common_students 
                     if course_python[student] > 90 and course_data_science[student] > 90}
print("Students with a score above 90 in both courses:", students_above_90)

Student with the highest score in Python: ('Charlie', 92)
Student with the lowest score in Data Science: ('Frank', 76)
Combined dictionary: {'Alice': 89, 'Bob': 78, 'Charlie': 95, 'Diana': 88, 'Eve': 91, 'Frank': 76}
Total scores of students in both courses: {'Alice': 174, 'Charlie': 187}
Python course sorted by scores (descending): {'Charlie': 92, 'Diana': 88, 'Alice': 85, 'Bob': 78}
Students with a score above 90 in both courses: {'Charlie'}

##### Sample Advanced Question for Full Marks:
- Write a function analyze_courses(course_python, course_data_science) that:

- Returns the number of unique students.
- Identifies the course (Python or Data Science) with a higher average score.
- Outputs the top 3 students with the highest combined scores across both courses.

In [56]:
def analyze_courses(course_python, course_data_science):
    # Task 1: Find the number of unique students
    python_students = set(course_python.keys())
    data_science_students = set(course_data_science.keys())
    unique_students = python_students | data_science_students  # Union of both sets
    num_unique_students = len(unique_students)

    # Task 2: Identify the course with a higher average score
    avg_python = sum(course_python.values()) / len(course_python)
    avg_data_science = sum(course_data_science.values()) / len(course_data_science)
    higher_avg_course = "Python" if avg_python > avg_data_science else "Data Science"

    # Task 3: Find the top 3 students with the highest combined scores
    combined_scores = {}
    for student in unique_students:
        # Add scores from both courses if the student exists in both
        score_python = course_python.get(student, 0)  # Default to 0 if not in dictionary
        score_data_science = course_data_science.get(student, 0)
        combined_scores[student] = score_python + score_data_science

    # Sort by combined scores in descending order and take the top 3
    top_3_students = sorted(combined_scores.items(), key=lambda x: x[1], reverse=True)[:3]

    # Return results
    return {
        "Number of Unique Students": num_unique_students,
        "Course with Higher Average Score": higher_avg_course,
        "Top 3 Students": top_3_students
    }

# Example dictionaries
course_python = {"Alice": 85, "Bob": 78, "Charlie": 92, "Diana": 88}
course_data_science = {"Eve": 91, "Frank": 76, "Alice": 89, "Charlie": 95}

# Analyze the courses
result = analyze_courses(course_python, course_data_science)

# Print the results
for key, value in result.items():
    print(f"{key}: {value}")

Number of Unique Students: 6
Course with Higher Average Score: Data Science
Top 3 Students: [('Charlie', 187), ('Alice', 174), ('Eve', 91)]

# Set- 02

 # Question 1: Python Fundamentals and Control Structures (15 Marks)
 ##### (a) Basic Data Types and Input/Output (5 Marks)
 - Write a Python program that:
 - Prompts the user to input their full name and age.
 - Prints a greeting that includes their name and calculates the year they will turn 100 years old.
     - Example:
     - Enter your full name: John Doe
     - Enter your age: 20
     - Hello, John Doe! You will turn 100 years old in the year 2101.

In [60]:
# Prompt the user to input their full name
full_name = input("Enter your full name: ")

# Prompt the user to input their age
age = int(input("Enter your age: "))

# Calculate the year when they will turn 100 years old
# current_year = int(input("Enter your age: "))
current_year = 2024  # You can dynamically get the current year using the datetime module if needed
year_turn_100 = current_year + (100 - age)

# Print the greeting message
print(f"Hello, {full_name}! You will turn 100 years old in the year {year_turn_100}.")

Enter your full name:  Rasel sarker
Enter your age:  24

Hello, Rasel sarker! You will turn 100 years old in the year 2100.

##### (b) Control Flow and Functions (10 Marks)
 - Define a function is_prime(n) that checks if a given number n is a prime number. The function should return True if n is prime, and False otherwise.
    - Use this function to print all prime numbers between 2 and 100.

In [61]:
# Define the function to check if a number is prime
def is_prime(n):
    if n <= 1:
        return False  # Numbers less than or equal to 1 are not prime
    for i in range(2, int(n**0.5) + 1):  # Check divisors up to the square root of n
        if n % i == 0:
            return False  # n is divisible by i, so it's not prime
    return True  # n is prime

# Use the function to print all prime numbers between 2 and 100
print("Prime numbers between 2 and 100:")
for number in range(2, 101):
    if is_prime(number):
        print(number, end=" ")

Prime numbers between 2 and 100:
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [63]:
# Define the function to check if a number is prime
def is_prime(n):
    if n <= 1:
        return False  # Numbers less than or equal to 1 are not prime
    for i in range(2, int(n**0.5) + 1):  # Check divisors up to the square root of n
        if n % i == 0:
            return False  # n is divisible by i, so it's not prime
    return True  # n is prime

# Get the range from the user
start = int(input("Enter the start of the range: "))
end = int(input("Enter the end of the range: "))

# Print all prime numbers in the given range
print(f"Prime numbers between {start} and {end}:")
for number in range(start, end + 1):  # Include the end value
    if is_prime(number):
        print(number, end=" ")

Enter the start of the range:  2
Enter the end of the range:  100

Prime numbers between 2 and 100:
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

# SET- 03

### Question 1: Python Fundamentals and Data Types (15 Marks)
 #### (a) Basic Data Types and Operations (7 Marks)
     - Write a Python script that:
     - Prompts the user to input two numbers (integer or float). (2 Marks)
     - Performs and prints the result of the following operations between the two numbers: addition,
     - subtraction, multiplication, division, and modulus. (5 Marks)

In [67]:
a = int(input("Enter your number: "))
b = int(input("Enter your number: "))

addition_num = a + b  
print(addition_num)

Enter your number:  2
Enter your number:  3

5

In [68]:
# Define a function for basic arithmetic operations
def perform_operations(a, b):
    operations = {
        "Addition": a + b,
        "Subtraction": a - b,
        "Multiplication": a * b,
        "Division": a / b if b != 0 else "Undefined (division by zero)",  # Handle division by zero
        "Modulus": a % b if b != 0 else "Undefined (modulus by zero)",    # Handle modulus by zero
    }
    return operations

# Input numbers from the user
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))

# Perform the operations
results = perform_operations(a, b)

# Display the results
for operation, result in results.items():
    print(f"{operation}: {result}")

Enter the first number:  2
Enter the second number:  3

Addition: 5
Subtraction: -1
Multiplication: 6
Division: 0.6666666666666666
Modulus: 2

In [69]:
def calculate(a, b, operator):
    if operator == "+":
        return a + b
    elif operator == "-":
        return a - b
    elif operator == "*":
        return a * b
    elif operator == "/":
        return a / b if b != 0 else "Undefined (division by zero)"
    elif operator == "%":
        return a % b if b != 0 else "Undefined (modulus by zero)"
    else:
        return "Invalid operator"

a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
operator = input("Enter an operator (+, -, *, /, %): ")
result = calculate(a, b, operator)
print(f"Result: {result}")

Enter the first number:  2
Enter the second number:  3
Enter an operator (+, -, *, /, %):  +

Result: 5

## (b) String Manipulation and Functions (8 Marks)
 Define a function process_string(s) that takes a string s as input and performs the following:
 - Converts the string to lowercase. (1 Mark)
 - Counts and prints the number of vowels and consonants in the string. (5 Marks)
 - Reverses the string and returns it. (2 Marks)
    - Example:
     - Input: "Hello World"
     - Output:
     - Number of vowels: 3
     - Number of consonants: 7
     - Reversed string: "dlroW olleH"

In [72]:
def process_string(s):
    # Convert the string to lowercase
    s = s.lower()

    # Define vowels
    vowels = "aeiou"

    # Initialize counters
    vowel_count = 0
    consonant_count = 0

    # Count vowels and consonants
    for char in s:
        if char.isalpha():  # Check if the character is a letter
            if char in vowels:
                vowel_count += 1
            else:
                consonant_count += 1

    # Reverse the string
    reversed_string = s[::-1]

    # Print the results
    print(f"Number of vowels: {vowel_count}")
    print(f"Number of consonants: {consonant_count}")
    print(f"Reversed string: \"{reversed_string}\"")

# Example usage
input_string = input("Enter a string: ")
process_string(input_string)

Enter a string:  Rasel sarker

Number of vowels: 4
Number of consonants: 7
Reversed string: "rekras lesar"

 ## Question 2: Control Structures and Data Structures (20 Marks)
 #### (a) Conditional Statements and Loops (10 Marks)
 - Write a Python program that:
 - Generates a list of numbers from 1 to 50. (2 Marks)
 - Iterates through the list and prints "Fizz" for numbers divisible by 3, "Buzz" for numbers divisible
 - by 5, and "FizzBuzz" for numbers divisible by both 3 and 5. For all other numbers, print the
 number itself. (8 Marks)

In [74]:
# Generate a list of numbers from 1 to 50
numbers = list(range(1, 15))

# Iterate through the list and apply FizzBuzz logic
for num in numbers:
    if num % 3 == 0 and num % 5 == 0:
        print("FizzBuzz")  # Divisible by both 3 and 5
    elif num % 3 == 0:
        print("Fizz")  # Divisible by 3
    elif num % 5 == 0:
        print("Buzz")  # Divisible by 5
    else:
        print(num)  # All other numbers

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14

### (b) Data Structures Manipulation

In [75]:
students_scores = {
    "Emily": [88, 92, 85],
    "John": [78, 76, 80],
    "Sarah": [90, 91, 89],
    "Michael": [65, 70, 72],
    "Jessica": [95, 98, 94]
}

# Task 1: Calculate and print the average score for each student
print("Average Scores:")
for student, scores in students_scores.items():
    average_score = sum(scores) / len(scores)
    print(f"{student}'s average score: {average_score:.2f}")

# Task 2: Create a dictionary for passed students
passed_students = {
    student: scores
    for student, scores in students_scores.items()
    if sum(scores) / len(scores) >= 85
}

print("\nPassed students:", passed_students)

Average Scores:
Emily's average score: 88.33
John's average score: 78.00
Sarah's average score: 90.00
Michael's average score: 69.00
Jessica's average score: 95.67

Passed students: {'Emily': [88, 92, 85], 'Sarah': [90, 91, 89], 'Jessica': [95, 98, 94]}

# Set - 04

 ## Question 1: Python Fundamentals and Control Structures (15 Marks)
  # (a) Basic Input/Output and Data Types (5 Marks)
 - Write a Python program that:
 - Prompts the user to input a list of numbers separated by commas.
 - Converts the input into a list of integers.
 - Calculates and prints the average, maximum, and minimum of the list.
         - Example:
         - Enter numbers separated by commas: 10, 20, 30, 40, 50
         - Average: 30.0
         - Maximum: 50
         - Minimum: 10
# -----------------------------------------------------------------------
## (b) Functions and Error Handling (10 Marks)
 - Define a function divide_numbers(a, b) that:
 - Takes two arguments a and b.
 - Returns the result of dividing a by b.
 - Handles the ZeroDivisionError exception and prints an appropriate message if b is zero.
 Demonstrate the use of this function with at least two examples, one of which should involve division
 by zero.

In [ ]:
# Prompt the user to input a list of numbers separated by commas
numbers_input = input("Enter numbers separated by commas: ")

# Convert the input into a list of integers
numbers = list(map(int, numbers_input.split(',')))

# Calculate the average, maximum, and minimum
average = sum(numbers) / len(numbers)
maximum = max(numbers)
minimum = min(numbers)

# Print the results
print(f"Average: {average:.1f}")
print(f"Maximum: {maximum}")
print(f"Minimum: {minimum}")

### (b) Functions and Error Handling

In [ ]:
# Define the divide_numbers function
def divide_numbers(a, b):
    try:
        result = a / b
        return result
    except ZeroDivisionError:
        return "Error: Division by zero is not allowed."

# Demonstrate the function with two examples
example_1 = divide_numbers(10, 2)  # Valid division
example_2 = divide_numbers(10, 0)  # Division by zero

# Print the results
print(f"Example 1 (10 / 2): {example_1}")
print(f"Example 2 (10 / 0): {example_2}")

In [ ]:
# Part (a) Input/Output and Data Types
numbers_input = input("Enter numbers separated by commas: ")
numbers = list(map(int, numbers_input.split(',')))
average = sum(numbers) / len(numbers)
maximum = max(numbers)
minimum = min(numbers)
print(f"Average: {average:.1f}")
print(f"Maximum: {maximum}")
print(f"Minimum: {minimum}")

# Part (b) Functions and Error Handling
def divide_numbers(a, b):
    try:
        result = a / b
        return result
    except ZeroDivisionError:
        return "Error: Division by zero is not allowed."

example_1 = divide_numbers(10, 2)
example_2 = divide_numbers(10, 0)
print(f"Example 1 (10 / 2): {example_1}")
print(f"Example 2 (10 / 0): {example_2}")

## Question 2: Data Structures in Python (20 Marks)

### (a) List and Dictionary Comprehensions (10 Marks)
 - Given a list of words:
 - words = ["data", "science", "python", "numpy", "pandas", "visualization"]
     - Perform the following tasks:
     - Create a new list containing the lengths of each word using a list comprehension. (3 Marks)
     - Create a dictionary where each word is a key and its length is the value using a dictionary comprehension. (4 Marks)
     - Filter the original list to include only words that have more than 5 letters using a listcomprehension. (3 Marks)

In [ ]:
words = ["data", "science", "python", "numpy", "pandas", "visualization"]

# Task 1: List of lengths of each word
word_lengths = [len(word) for word in words]
print("Lengths of each word:", word_lengths)

# Task 2: Dictionary with words as keys and their lengths as values
word_length_dict = {word: len(word) for word in words}
print("Word-length dictionary:", word_length_dict)

# Task 3: Filter words with more than 5 letters
filtered_words = [word for word in words if len(word) > 5]
print("Words with more than 5 letters:", filtered_words)

### (b) Tuple and Set Operations (10 Marks)
 - You have two tuples representing registered users on two different platforms:
 - platform_a_users = ("alice", "bob", "charlie", "diana")
 - bplatform_b_users = ("charlie", "diana", "edward", "fiona")
     - Perform the following tasks:
     - Convert the tuples to sets and find the users who are registered on both platforms. (3 Marks)
     - Find the users who are only registered on Platform A. (3 Marks)
     - Create a combined tuple of all unique users from both platforms. (4 Marks)

In [ ]:
platform_a_users = ("alice", "bob", "charlie", "diana")
platform_b_users = ("charlie", "diana", "edward", "fiona")

# Convert tuples to sets
set_a = set(platform_a_users)
set_b = set(platform_b_users)

# Task 1: Find users registered on both platforms
common_users = set_a & set_b
print("Users registered on both platforms:", common_users)

# Task 2: Find users only registered on Platform A
only_in_a = set_a - set_b
print("Users only registered on Platform A:", only_in_a)

# Task 3: Create a combined tuple of all unique users
combined_users = tuple(set_a | set_b)
print("Combined tuple of all unique users:", combined_users)

# Set -05

# Question 1: Python Fundamentals and Control Structures (15 Marks)
  ### (a) Basic Input/Output and Data Types (5 Marks)
        - Write a Python program that:
        - Prompts the user to input a sentence.
        - Counts the number of words, characters (excluding spaces), and vowels in the sentence.
        - Prints the results in a formatted manner.
            - Example:
            
            - Enter a sentence: Data Science is awesome!
            - Number of words: 4
            
            - Number of characters (excluding spaces): 19
            - Number of vowels: 9

In [2]:
# Prompt the user to input a sentence
sentence = input("Enter a sentence: ")

# Count the number of words
words = sentence.split()
num_words = len(words)

# Count the number of characters (excluding spaces)
num_chars = len(sentence.replace(" ", ""))

# Count the number of vowels
vowels = "aeiouAEIOU"
num_vowels = sum(1 for char in sentence if char in vowels)

# Print the results in a formatted manner
print("\nNumber of words:", num_words)
print("Number of characters (excluding spaces):", num_chars)
print("Number of vowels:", num_vowels)

Enter a sentence:  Rasel sarker

Number of words: 2
Number of characters (excluding spaces): 11
Number of vowels: 4

### (b) Functions and Error Handling (10 Marks)
- Define a function factorial(n) that:
- Calculates the factorial of a positive integer n .
- Raises a ValueError if n is negative or not an integer.
- Includes a docstring explaining the function's purpose.
- Demonstrate the use of this function with at least two examples, one of which should trigger the
ValueError .

In [3]:
def factorial(n):
    """
    Calculates the factorial of a positive integer n.
    
    Parameters:
        n (int): A positive integer whose factorial is to be calculated.
        
    Returns:
        int: The factorial of the input integer n.
    
    Raises:
        ValueError: If n is negative or not an integer.
    """
    if not isinstance(n, int) or n < 0:
        raise ValueError("Input must be a non-negative integer.")
    
    # Base case for factorial
    if n == 0 or n == 1:
        return 1
    
    # Recursive factorial calculation
    result = 1
    for i in range(2, n + 1):
        result *= i
    return result

# Demonstration of the function
try:
    # Example 1: Valid input
    print("Factorial of 5:", factorial(5))  # Should return 120
except ValueError as e:
    print("Error:", e)

try:
    # Example 2: Invalid input (negative number)
    print("Factorial of -3:", factorial(-3))  # Should raise ValueError
except ValueError as e:
    print("Error:", e)

try:
    # Example 3: Invalid input (non-integer)
    print("Factorial of 3.5:", factorial(3.5))  # Should raise ValueError
except ValueError as e:
    print("Error:", e)

Factorial of 5: 120
Error: Input must be a non-negative integer.
Error: Input must be a non-negative integer.

# Set-06